body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

.tabela-container {
  display: flex;
  justify-content: center;
}

.tabela {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  height: auto;
  overflow-y: auto;
  transform: rotateX(180deg);
}


.tabela-inner {
  transform: rotateX(180deg);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.center {
  text-align: center;
  margin-top: 20px;
}

.center a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #454e58;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.center a:hover {
  background-color: #506680;
}

.IMC-Baixo-muito-grave {
  background-color: darkblue;
}

.IMC-Baixo-grave {
  background-color: blue;
}

.IMC-Baixo {
  background-color: green;
}

.IMC-Ideal {
  background-color: lime;
}

.IMC-Sobrepeso {
  background-color: yellow;
}

.IMC-Obesidade-I {
  background-color: orange;
}

.IMC-Obesidade-II {
  background-color: red;
}

.IMC-Obesidade-III {
  background-color: purple;
}

th {
  height: 17px;
  min-width: 17px;
}

td {
  width: 17px;
  height: 17px;
}
